# runtime
/logs/
/build/
/*.pid
client_pids.txt
/tmp/results.json
/cmake-build-debug/
/HFTDashboard/.venv

# CLion / JetBrains
.idea/

# CMake build directories
cmake-build-*/
build/

# Compiled binaries / objects
*.o
*.out
*.exe
*.dylib
*.so
*.a

# macOS
.DS_Store

# Logs
logs/
*.log

# CSV outputs
*.csv